!!! 5
html
	head
		title node.js boilerplate
		link(href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
		block css
	body
		h1 node.js boilerplate
		block content

		script(src="/jquery/jquery.min.js")
		script(src="/bootstrap/dist/js/bootstrap.min.js")